*{
    margin: 0.5;
    padding: 0.5;
}

header{
    background-color: beige;
    color: aqua;
    padding: 2cm;
    text-align: center;
}

nav a{
    color: azure(85, 95, 75);
    margin: 0 1em;
    text-decoration:none;
}

main {
    padding: 0cm;
}

h1{
    color: blueviolet;
}

.shoes{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

img{
    width: 200px;
}